<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Stock Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome to Our App!</h1>
        <p>Welcome back, User {{ user_id }}!</p>
        <p>Balance = {{ balance }}</p>
        <p>Portfolio value = {{ value-balance }}</p>
        <p>Total value of account = {{ value }}</p>
        <p>Account value change {{ (value-10000)/10000 *100}}%</p>
        <a href="{{ url_for('logout') }}">Logout</a>

    </div>
    <!-- mislabelled but i dont have time to fix and it works ok -->
    <form id="searchForm">
        <label for="search">Search:</label>
        <input type="text" id="search" required>
        <button type="submit">Search</button>
    </form>

    <script>
        const form = document.getElementById('searchForm');
        form.onsubmit = function (event) {
            const searchTerm = document.getElementById('search').value;
            form.action = `/search/${encodeURIComponent(searchTerm)}`;
        };
    </script>
</body>

</html>